<!DOCTYPE html>
<html>
<head>
    <!-- - - META TAGS - - -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Rememberthis.place</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
    <script src="//use.typekit.net/qpp4rgy.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!-- - - END META TAGS - - -->
    
    <!-- - - SCRIPTS - - -->
    	
        <!-- Bower components -->
        <!--
        <script src="assets/js/bower/jquery.js"></script>
        <script src="assets/js/bower/underscore.js"></script>
        <script src="assets/js/bower/backbone.js"></script>
        <script src="assets/js/bower/backbone-localstorage.js"></script>
        -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script> 

        <script src="assets/js/modernizr.js"></script>
        <script src="assets/js/library.js"></script>
		<script src="assets/js/scripts.js"></script>
        <!-- END Bower components -->

    <!-- - - END SCRIPTS - - -->
    
    
    <!-- - - STYLESHEETS - - -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!-- - - END STYLESHEETS - - -->
</head>

<body id="app">

    <div id='map'></div>

    <header>
        <h1 class="logo">Rememberthis.place</h1>
    </header>

    <ul class="zoom_global">
        <li><span class="icon zoom-in"></span></li>
        <li><span class="icon zoom-out"></span></li>
    </ul>
    
    <div id="app_wrap">

    <a href="#" class="overlay"></a>

    <div id="save_box" class="modal">
        <ul class="additional">
            <li>
                <h4><span class="icon coordinates"></span> <span class="coord-show">50,-1</span></h4>
            </li>
        </ul>
        <input type="text" placeholder="Location name"/>
        <a href="#" id="save-btn"><span class="icon save"></span> Save location</a>
    </div>

    <section id="top">
        <a href="#" id="remember-btn"><span class="icon add"></span> Remember this</a>
        <ul class="locations">
        </ul>
        <footer>
            <p>RememberThis.Place is built using <a href="https://www.mapbox.com/" rel="nofollow" target="_blank">Mapbox</a> and <a href="http://leafletjs.com/" rel="nofollow" target="_blank">Leaflet.js</a></p>
            <p>We do not take any data from the usage of this webapp, past internal analytical data.</p>
            <p>RememberThis.Place was designed and built by <a href="http://jthaw.me">Jonny Thaw</a></p>
        </footer>
    </section>

    <div id="loading">
        <div class="content">
            <img src="assets/images/logo.png" class="logo_image"/>
            <div class="message">
                Loading...
            </div>
        </div>
    </div>

    </div>

    <script type="text/template" id="place-template">
    <div class="content">
        <input type="text" placeholder="<%- title %>"/>
        <a href="#" class="save-new icon save"></a>
        <h2><%- title %></h2>
        <ul class="additional">
            <li>
                <h4 class="distance_set"><span class="icon distance"></span> <%- distance %></h4>
            </li>
            <li>
                <h4 class="weather_set"><span class="icon weather"></span> <%- weather %></h4>
            </li>
        </ul>
    </div>
    <div class="map-box">
        <div class="info">
            <ul class="additional">
                <li>
                    <h4 class="edit_activate"><span class="icon edit"></span> Edit</h4>
                </li>
                <li>
                    <h4 class="delete_activate"><span class="icon delete"></span> Delete</h4>
                </li>
            </ul>
        </div>
        <a href="#" class="delete_sure"><span class="icon save"></span> Are you sure?</a>
        <ul class="zoom">
            <li><span class="icon zoom-in"></span></li>
            <li><span class="icon zoom-out"></span></li>
        </ul>
    </div>
    </script>  

</body>
</html>