@import "bourbon";
@import "neat";
@import "libs/reset";
@import "libs/helpers";

$max-width:90%;

/*
@include loadFont("tester","testerFile");
*/

/*
=================================================

									MIXINS

=================================================
*/

@mixin jtContainer
{
	@include outer-container;
	width:$max-width;
	max-width:1280px;
	position:relative;
}


/*
=================================================

									TYPOGRAPHY

=================================================
*/

	$headlineSize : 42px;
		$headlineSizeLH : 44px;

	$subheadlineSize : 32px;
		$subheadlineSizeLH : 34px;

	$midSize : 21px;
		$midSizeLH : 24px;

	$bodySize : 15px;
		$bodySizeLH : 18px;

	$metaSize : 13px;
		$metaSizeLH : 15px;


	@mixin headlineFont()
	{
		font-family: "futura-pt",sans-serif;
		font-style: normal;
		font-weight: 700;
	}

	@mixin bodyFont()
	{
		font-family: "brandon-grotesque",sans-serif;
		font-style: normal;
		font-weight: 500;
	}

	$blue : #045373;
	$red : #C06167;
	$black : #0E0E0E;
	$white : #FFFFFF;



/*
=================================================

									GENERAL STYLES

=================================================
*/

	html, body {
		@include bodyFont();
		font-size:$bodySize;
		line-height:$bodySizeLH;
		height:100%;
		color:$black;
		background-color:$red;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight:normal;
	}
	h1 {
		@include headlineFont();
		font-size:$headlineSize;
		line-height:$headlineSizeLH;
	}
	h2 {
		@include headlineFont();
		font-size:$subheadlineSize;
		line-height:$subheadlineSizeLH;
	}
	h3 {
		@include headlineFont();
		font-size:$midSize;
		line-height:$midSizeLH;
	}
	input,button,select {
		border-radius:0px;
	}

	.left-align {
		text-align:left;
	}
	.centre-align {
		text-align:center;
	}
	.right-align {
		text-align:right;
	}

	a {
		text-decoration:none;
	}

	.clearfix {
		@include clearfix;
	}
	.container {
		@include jtContainer;
	}


	#map {
		height:100%;
		position:fixed;
		width:100%;
		z-index:1;
		top:0px;
		right:0px;
		opacity:0;
		@include transition(opacity 1s);

		&.show {
			opacity:1;
		}

		@include media(768px) {
			width:calc(100% - 320px);
		}
		@include media(950px) {
			width:calc(100% - 500px);
		}
	}

	.overlay {
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.6);
		z-index:6000;
		display:none;
	}

	.modal {
		position:fixed;
		z-index:7000;
		margin-top:-100px;
		width:100%;
		padding:0 40px;
		top:50%;
		@include transition(transform .4s);
		@include transform(translateY(-1000px));

		&.show {
			@include transform(translateY(0));
		}

		input {
			@extend h3;
			max-width:100%;
			background-color:$white;
			padding:14px 20px;
			padding-bottom:8px;
			width:100%;
		}
		input::-webkit-input-placeholder {
			line-height:24px;
		}

		.additional {
			text-align:center;
			margin-bottom:10px;

			h4 {
				opacity:1;
				color:$white;
			}
		}

		#save-btn {
			@extend #remember-btn;
		}

		p {
			background-color:$red;
			padding:20px;
			text-align:center;
			color:$white;
		}

		@include media(768px) {
			width:500px;
			margin-left:-250px;
			left:50%;
		}
	}
	#error_box {
		z-index:8000;
	}

	#app_wrap {
		width:100%;
		height:100%;
		position:relative;
		border-radius:20px;
		z-index:2000;

		@include media(768px) {
			max-width:320px;
		}
		@include media(950px) {
			max-width:500px;
		}
	}

	.zoom_global {
		position: absolute;
		right: 50px;
		bottom: 50px;
		z-index: 1000;
		display:none;

		li {
			background-color: $red;
			border-radius:100%;
			margin-top: 5px;
			padding:5px;
		}

		@include media(768px) {
			display:block;
		}
	}

	@import "partials/header";
	
	@import "partials/loading";

	@import "partials/top";

	@import "partials/locationList";

	@import "partials/footer";

	@import "partials/icon";








