footer {
	height:300px;
	background-color:$red;
	padding:30px;
	@extend .centre-align;

	p {
		@include headlineFont();
		color:transparentize($black,0.6);
		margin-bottom:$bodySizeLH;

		a {
			color:transparentize($blue,0.4);
		}
	}
}