header {
	padding:10px 0px;
	background-image:linear-gradient(to bottom,#FFFFFF 75%, rgba(255, 255, 255, 0));
	position:absolute;
	z-index:1000;
	top:0px;
	width:100%;
	opacity:0;
	@include transition(opacity 1s);

	&.show {
		opacity:1;
	}

	.logo {
		background-image:url(../images/red.png);
		text-indent:-9999px;
		width:30%;
		max-width:250px;
		height:0;
		padding-bottom:11%;
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
		margin:0 auto;
	}

	@include media(768px) {
		background-image:none;
		right:0px;
		width:250px;

		.logo {
			width:100%;
			padding-bottom: 20%;
		}
	}
}