.icon {
	display:inline-block;
	width:12px;
	height:12px;
	position:relative;
	top:1px;

	&.distance {
		background-image:url("../images/icons/map.png");
	}
	&.weather {
		background-image:url("../images/icons/weather.png");
	}
	&.coordinates {
		background-image:url("../images/icons/coordinates.png");
	}
	&.delete {
		background-image:url("../images/icons/delete.png");
	}
	&.edit {
		background-image:url("../images/icons/edit.png");
	}
	&.add {
		width:16px;
		height:16px;
		background-image:url("../images/icons/add.png");
	}
	&.save {
		width:16px;
		height:16px;
		background-image:url("../images/icons/save.png");
	}
	&.connection {
		width:16px;
		height:16px;
		background-image:url("../images/icons/connection.png");
	}
	&.zoom-in {
		width:24px;
		height:24px;
		background-image:url("../images/icons/zoom_in.png");
	}
	&.zoom-out {
		width:24px;
		height:24px;
		background-image:url("../images/icons/zoom_out.png");
	}
}