#loading {
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:10000;
	background-color:$red;

	.content {
		position:absolute;
		width:100%;
		margin-top:-100px;
		top:50%;

		.logo_image {
			width:60%;
			max-width:250px;
			margin:0 auto;
			display:block;
		}
		.message {
			text-align:center;
			@extend h3;
			opacity:0.4;
			width:80%;
			margin:0 auto;
			margin-top:30px;
		}
	}
}