

/* =======================================

Main location list items

========================================*/


	.locations {
		position:relative;
		z-index:5000;

		&> li {
			opacity:0;
			@include transform(translateY(50%));
			@include transition(transform .7s, opacity .7s);

			&.show {
				@include transform(translateY(0%));
				opacity:1;
			}

			&.editing {
				.content {
					h2 {
						display:none;
					}
					input,.save-new {
						display:block;
					}
				}
			}

			&.deleter.active {
				.map-box {

					@include media(768px) {
						height:90px !important;
					}
				}
			}
			.content {
				padding:14px 20px;
				position:relative;
				cursor:pointer;

				h2 {
					color:$white;
				}

				input {
					@extend h2;
					opacity:0.4;
					background-color:rgba(0,0,0,0.2);
					max-width:100%;
					display:none;
					width:100%;

					&::-webkit-input-placeholder {
						line-height:40px;
						color:$black;
					}
				}
				.save-new {
					position: absolute;
					right: 20px;
					top: 14px;
					height: 41px !important;
					width: 41px !important;
					background-repeat: no-repeat;
					background-position: center;
					display:none;
				}
			}

			.map-box {
				height:0;
				@include transition(height .4s);
				overflow:hidden;
				position:relative;

				.additional {
					padding:10px 20px;
					background-color:$blue;
				}

				.delete_sure {
					text-align:center;
					background-color:darken($blue,10);
					display:block;
					@extend h3;
					color:$white;
					padding:14px 20px;
					@include transition(transform .4s);
					@include transform(translateY(-200px));

					&.show {
						@include transform(translateY(0px));
					}
				}

				ul.zoom {
					position: absolute;
					bottom: 20px;
					left: 20px;

					@include media(768px) {
						display:none;
					}
				}
			}

			$color : $red;
			$limit : 6;

			@for $i from 0 through 100 {
				@if $i % $limit == ($limit - 1) {
					$color : adjust-hue( $color, 15% );
				}

				&:nth-child(#{$i}) {
					$mod : ($i % $limit) * 5;
					.content {
						background-color:lighten($color,$mod);
					}

					@if $i < 10 {
						@include transition-delay($i * .1s);
					}
				}
			}
		}

		@include media(768px) {
			min-height: calc(100% - 352px);
			background-color:#e5e5e5;
		}
	}

/* =======================================

Additional info list. Normally used with
icons as well

========================================*/

	ul.additional {
		li {
			display:inline-block;
			margin-right:10px;
		}
		h4 {
			opacity:0.4;
			cursor:pointer;
			@include transition(opacity .2s);

			&:hover {
				opacity:0.2;
			}
		}
	}

/* =======================================

Appends a class to move elements around
when a location is open

========================================*/

	html.map-open {
		.locations {

			li.active {
				.map-box {
					height:$fallbackCater;
					height:$mapCater;

					@include media(768px) {
						height:38px;
					}
				}
			}
		}
	}