
$mapCater : calc(50vh + 84px);
$fallbackCater : calc(200px + 84px);

#top {
	position:relative;
	z-index:1500;
	opacity:0;
	@include transition(opacity 1s,padding-top .4s);
	display:none;
	padding-top:$fallbackCater;
	padding-top:$mapCater;

	&.show {
		opacity:1;
	}

	@include media(768px) {
		padding-top:0px;
		position:absolute;
		height:100%;
		left:0px;
	}
}

#remember-btn {
	text-align:center;
	display:block;
	padding:14px 20px;
	background-color:$blue;
	color:$white;
	@extend h3;

	@include media(768px) {
		padding:35px 20px;
	}
}

html.map-open {
	#top {
		padding-top:0px;
	}
}